<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EnsureRisk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EnsureRisk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <EnsureRisk.Properties.Settings>
            <setting name="EnsureRisk_GroupService_WebServiceGroupe" serializeAs="String">
                <value>http://localhost/EnsureRiskWS/WebServiceGroupe.asmx</value>
            </setting>
            <setting name="EnsureRisk_ServiceAuthentication_WebServiceAuthentication" serializeAs="String">
                <value>http://localhost/EnsureRiskWS/WebServiceAuthentication.asmx</value>
            </setting>
            <setting name="EnsureRisk_ServiceRiskController_WebServiceRisk" serializeAs="String">
                <value>http://localhost/EnsureRiskWS/WebServiceRisk.asmx</value>
            </setting>
            <setting name="EnsureRisk_ServiceRoleController_WebServiceRole" serializeAs="String">
                <value>http://localhost/EnsureRiskWS/WebServiceRole.asmx</value>
            </setting>
            <setting name="EnsureRisk_ServiceTopRiskController_WebServiceTopRisk" serializeAs="String">
                <value>http://localhost/EnsureRiskWS/WebServiceTopRisk.asmx</value>
            </setting>
            <setting name="EnsureRisk_ServiceUserController_WebServiceUser" serializeAs="String">
                <value>http://localhost/EnsureRiskWS/WebServiceUser.asmx</value>
            </setting>
            <setting name="EnsureRisk_ServiceWBS_WebServiceWBS" serializeAs="String">
                <value>http://localhost/EnsureRiskWS/WebServiceWBS.asmx</value>
            </setting>
            <setting name="EnsureRisk_ServiceProject_WebServiceProject" serializeAs="String">
                <value>http://localhost/EnsureRiskWS/WebServiceProject.asmx</value>
            </setting>
            <setting name="EnsureRisk_ServiceClasifications_WebServiceClasificator" serializeAs="String">
                <value>http://localhost/EnsureRiskWS/WebServiceClasificator.asmx</value>
            </setting>
            <setting name="EnsureRisk_ServiceLog_WebServiceMyLog" serializeAs="String">
                <value>http://localhost/EnsureRiskWS/WebServiceMyLog.asmx</value>
            </setting>
        </EnsureRisk.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <EnsureRisk.Properties.Settings>
            <setting name="EnsureRisk" serializeAs="String">
                <value>WebService</value>
            </setting>
            <setting name="DecimalsStringFormat" serializeAs="String">
                <value>{0:#0.0}</value>
            </setting>
            <setting name="DecimalFractionalDigits" serializeAs="String">
                <value>1</value>
            </setting>
        </EnsureRisk.Properties.Settings>
    </userSettings>
  <runtime />
</configuration>
